node_modules/

dist/
build/
lib/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development
.env.test
.env.production

.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

coverage/